# MongoDb with Python - Querying Json Documents

In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://<userid>:<password>@learning.gqqqwob.mongodb.net/?retryWrites=true&w=majority")
db = client.test

mydb=client['Employee']

empinfo=mydb.employeeinformation

In [4]:
record={
        'firstname':'John',
        'lastname':'Smith',
        'department':'Sales',
        'qualification':'Bcom',
        'age':28
    
}

empinfo.insert_one(record)

In [5]:
records=[{
        'firstname':'Rohit',
        'lastname':'Aggrawal',
        'department':'Dealer Sales',
        'qualification':'BMS',
        'age':37
    
},
    {
        'firstname':'Shailendra',
        'lastname':'Anand',
        'department':'Sales',
        'qualification':'BMS',
        'age':34
    
},
    {
        'firstname':'Harish',
        'lastname':'Chand',
        'department':'Analytics',
        'qualification':'BE',
        'age':44
    
},
    {
        'firstname':'Mohit',
        'lastname':'Kapoor',
        'department':'Corporate Sales',
        'qualification':'Bcom',
        'age':40
    
},
    {
        'firstname':'Deepak',
        'lastname':'Sharma',
        'department':'Manager',
        'qualification':'MBA',
        'age':47
    
}
]

empinfo.insert_many(records)

In [6]:
## Simple way of querying

empinfo.find_one()

{'_id': ObjectId('62ecb76f5a46cf3da2589f8f'),
 'firstname': 'Argha',
 'lastname': 'Karmakar',
 'department': 'Analytics'}

In [8]:
## select * from employeeinformation

for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('62ecb76f5a46cf3da2589f8f'), 'firstname': 'Argha', 'lastname': 'Karmakar', 'department': 'Analytics'}
{'_id': ObjectId('62ecb85c5a46cf3da2589f90'), 'firstname': 'Ashwath', 'lastname': 'Shetty', 'department': 'Back Office'}
{'_id': ObjectId('62ecb85c5a46cf3da2589f91'), 'firstname': 'Yash', 'lastname': 'Tripathi', 'department': 'Java Developer'}
{'_id': ObjectId('62ecb85c5a46cf3da2589f92'), 'firstname': 'Sankalp', 'lastname': 'Prabhu', 'department': 'Mechanical Engg'}
{'_id': ObjectId('62ecb85c5a46cf3da2589f93'), 'firstname': 'Piyush', 'lastname': 'Borgaonkar', 'department': 'CA'}
{'_id': ObjectId('62ecbbb14985f34abd56a6a9'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Sales', 'qualification': 'Bcom', 'age': 28}
{'_id': ObjectId('62ecbd3b4985f34abd56a6aa'), 'firstname': 'Rohit', 'lastname': 'Aggrawal', 'department': 'Dealer Sales', 'qualification': 'BMS', 'age': 37}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ab'), 'firstname': 'Shailendra', 'lastname': 'Anand', 'department': 'Sales', 'qualification': 'BMS', 'age': 34}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ac'), 'firstname': 'Harish', 'lastname': 'Chand', 'department': 'Analytics', 'qualification': 'BE', 'age': 44}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ad'), 'firstname': 'Mohit', 'lastname': 'Kapoor', 'department': 'Corporate Sales', 'qualification': 'Bcom', 'age': 40}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ae'), 'firstname': 'Deepak', 'lastname': 'Sharma', 'department': 'Manager', 'qualification': 'MBA', 'age': 47}

In [9]:
## Querying the json documents based on equality conditions
## select * from employeeinformation where  firstname='Argha'

for record in empinfo.find({'firstname':'Argha'}):
    print(record)

{'_id': ObjectId('62ecb76f5a46cf3da2589f8f'), 'firstname': 'Argha', 'lastname': 'Karmakar', 'department': 'Analytics'}

In [11]:
## Query documents using query operators ($in, $lt, $gt)

for record in empinfo.find({'qualification':{'$in':['BMS','BE']}}):
    print(record)

{'_id': ObjectId('62ecbd3b4985f34abd56a6aa'), 'firstname': 'Rohit', 'lastname': 'Aggrawal', 'department': 'Dealer Sales', 'qualification': 'BMS', 'age': 37}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ab'), 'firstname': 'Shailendra', 'lastname': 'Anand', 'department': 'Sales', 'qualification': 'BMS', 'age': 34}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ac'), 'firstname': 'Harish', 'lastname': 'Chand', 'department': 'Analytics', 'qualification': 'BE', 'age': 44}

In [13]:
## And and query operators

for record in empinfo.find({'qualification':'MBA','age':{'$lt':50}}):
    print(record)

{'_id': ObjectId('62ecbd3b4985f34abd56a6ae'), 'firstname': 'Deepak', 'lastname': 'Sharma', 'department': 'Manager', 'qualification': 'MBA', 'age': 47}

In [15]:
## OR operators

for record in empinfo.find({'$or':[{'firstname':'Harish'},{'qualification':'BMS'}]}):
    print(record)

{'_id': ObjectId('62ecbd3b4985f34abd56a6aa'), 'firstname': 'Rohit', 'lastname': 'Aggrawal', 'department': 'Dealer Sales', 'qualification': 'BMS', 'age': 37}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ab'), 'firstname': 'Shailendra', 'lastname': 'Anand', 'department': 'Sales', 'qualification': 'BMS', 'age': 34}
{'_id': ObjectId('62ecbd3b4985f34abd56a6ac'), 'firstname': 'Harish', 'lastname': 'Chand', 'department': 'Analytics', 'qualification': 'BE', 'age': 44}

In [16]:
inventory = mydb.inventory

In [18]:
inventory.insert_many([
    { "item": "journal", "qty": 25, "size": { "h": 14, "w": 21, "uom": "cm" }, "status": "A" },
    { "item": "notebook", "qty": 50, "size": { "h": 8.5, "w": 11, "uom": "in" }, "status": "A" },
    { "item": "paper", "qty": 100, "size": { "h": 8.5, "w": 11, "uom": "in" }, "status": "D" },
    { "item": "planner", "qty": 75, "size": { "h": 22.85, "w": 30, "uom": "cm" }, "status": "D" },
    { "item": "postcard", "qty": 45, "size": { "h": 10, "w": 15.25, "uom": "cm" }, "status": "A" }
])

In [19]:
for record in inventory.find({"size": { "h": 14, "w": 21, "uom": "cm" }}):
    print(record)

{'_id': ObjectId('62ecc53c4985f34abd56a6af'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}